.poster-avatar-extra {
  display: none;
  margin-top: 8px;
}

.group-tecerianos .poster-avatar-extra {
  display: block;
  background-image: url(http://lidertarios.com/uploads/default/109/3676217199eb8c9b.png);
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  border-radius: 12px;
  position: absolute;
  top: 24px;
  right: -6px;
}
